body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span,
p {
  cursor: default;
}

/* ---------------------- */

#root {
  margin: 20px;
}

.header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-weight: bold;
}

.header button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  background-color: gray;
  color: #fff;
  font-weight: 500;
}

.header button:hover {
  background-color: #565656;
}

/* --------------- */
